{% extends 'todo/main.html' %} {% block content %}
<div class="header-bar">
  <h1>Register</h1>
</div>

<div class="card-body">
  <form action="" method="post">
    {% csrf_token %} {{ form.non_field_errors }}

    <label>{{ form.username.label }}</label>
    {{ form.username }} {{ form.username.errors }}

    <label>{{ form.password1.label }}</label>
    {{ form.password1 }} {{ form.password1.errors }}

    <label>{{ form.password2.label }}</label>
    {{ form.password2 }} {{ form.password2.errors }}

    <br /><br />
    <input class="button" type="submit" value="Register Now" />
  </form>

  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock content %}
